@import "tailwindcss";
@import "@bjelle/tokens/theme.css";

@import "@bjelle/ui/styles.css";

*,
::before,
::after {
	box-sizing: border-box;
}

html,
body,
#app {
	min-height: 100%;
}

body {
	margin: 0;
	background-color: var(--background-sunken);
	color: var(--text-strong);
	font-family: var(--font-sans);
}
